CFLAGS += -g
MAKE = make -s
IF =@ if
FOR =@ for
CHECKPATH=@ echo $(1) $(patsubst $(ROOTDIR)/%,%,$(2)) && if [ ! -d $(dir $(2)) ]; then mkdir -p $(dir $(2)); fi;

CC=clang
LD=ld
CFLAGS += -Werror -Dgetch=getchar
LDFLAGS += -no-pie

define show_stage
	echo "<$(MAKELEVEL)>  $(1)"
endef

define show_begin
	
endef

define show_end
	
endef
